body {
     font-family: Arial, sans-serif;
    }
    
    .container {
        width: 50%;
        margin-left: 10px auto;
    }
    
    h1 {
        text-align: center;
    }
    table {
        width: 90%;
        border-collapse: collapse;
        border: 2px solid #5b28e6;
        background-color: white; /* Set the background color of the entire table to white */
    }
    
    th, td {
        padding: 5px;
        text-align: left;
        border: 1px solid #5b28e6;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    tr:hover {
        background-color: #ddd;
    }
    
    /* Adjustments for Small Screens */
    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }
    
        table thead {
            display: none;
        }
    
        table tr {
            border-bottom: 2px solid #ddd;
            display: block;
            margin-bottom: 10px;
            background-color: #ddd;
        }
    
        table td {
            border-bottom: 0;
            text-align: right;
            padding: 10px;
        }
    
        table td:last-child {
            border-bottom: 0;
        }
    }