/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header nav{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: black; /* Add background color */
        border-bottom: 2px solid #0e1dbf; /* Add this line to add a border */
        border-radius: 1px; /* Optional: Add border radius for rounded corners */
    }
header nav .logo{
    width: 150px;
}
header nav .menu{
    display: flex;
    align-items: center;
}
nav .menu a{
    color: #f8f4f4;
    margin-left: 30px;
    position: relative;
}
nav .menu a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #0e1dbf;
    transition: 0.4s;
}
nav .menu a:hover::after{
    width: 100%;
}
nav .social a i{
    color: #050505;
    font-size: 22px;
    margin-left: 10px;
    transition: 0.3s;
}
nav .social a i:hover{
    transform: scale(1.3);
    color: #0e1dbf;
}





